ELEMENTOS BASICOS DE MATEMATICAS

In [ ]:
for x in range(5):
    print(x)

0
1
2
3
4

In [ ]:
for x in range(3,5):
   print(x)

3
4

Conjunto de numeros naturales 1 al 20

In [ ]:
U = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
Uf = {x for x in range(1,21)}
conjuntovacio = set()
print(U)
print(Uf)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

**Conjunto A de numeros x tal que x par ; x < 10**

In [ ]:
A = {x for x in Uf if x%2 == 0 and x < 10}
print(A)

{8, 2, 4, 6}

**NUMEROS DE UN DIGITO**

In [ ]:
E = {x for x in Uf if x < 10}
print(E)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

**MULTIPLOS DE 3**

In [ ]:
B = {x for x in Uf if x%3 == 0 and x < 10}
print(B)
ord

{9, 3, 6}