R. Laura Lozano V         20 Jun 2024           

**SUMA LOS ELEMENTOS DE UNA TUPLAS**

In [ ]:
def suma_tupla(tupla):
    return sum(tupla)

# Ejemplo de uso
tupla_nums = (0, 7, 0, 8, 1, 9, 6, 5)
suma = suma_tupla(tupla_nums)
print("La suma de los elementos de la tupla es:", suma)

La suma de los elementos de la tupla es: 36

**ENCONTRAR EL NUMERO MAYOR DE UNA TUPLA**

In [ ]:
def max_num_tupla(tupla):
    return max(tupla)

tupla_numeros = (0, 7, 0, 8, 1, 9, 6, 5)
resultado = max_num_tupla(tupla_numeros)
print("El numero mayor de la tupla es:", resultado)

El numero mayor de la tupla es: 9

**Ordenar los elementos de una tupla**

In [ ]:
def ordenar_tupla(tupla):
    return tuple(sorted(tupla))

tupla_numeros = (0, 7, 0, 8, 1, 9, 6, 5)
resultado = ordenar_tupla(tupla_numeros)
print("La tupla ordenada es:", resultado)

La tupla ordenada es: (0, 0, 1, 5, 6, 7, 8, 9)

**CONCATENAR TUPLAS**

In [ ]:
def concatenar_tuplas(tupla1, tupla2,tupla3):
    return tupla1 + tupla2 + tupla3

tupla1 = ("Hugo", 10)
tupla2 = ("Paco", 8)
tupla3 = ("Luis",6)
resultado = concatenar_tuplas(tupla1, tupla2, tupla3 )
print("La tupla concatenada es:", resultado)

La tupla concatenada es: ('Hugo', 10, 'Paco', 8, 'Luis', 6)